.vscode/
.DS_Store
*.sln
*.meta
*.prefab
*.asset
bin/
obj/
*.dll
build/
Temp/
Logs/
ProjectSettings/
UserSettings/
Resources/
Scenes/
Settings/
Packages/
Library/
Plugins/
Editor/
ExResources/
